name = "RandomMeas"
uuid = "a9f96d1f-ed6a-4404-822f-5927c777f274"
authors = ["Benoit Vermersch & Andreas Elben"]
version = "0.3.0"

[deps]
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
ITensorMPS = "0d1a4710-d33b-49a5-8f18-73bdf49b47e2"
ITensors = "9136182c-28ba-11e9-034c-db9fb085ebd5"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NPZ = "15e1cf62-19b3-5cfa-8e77-841668bca605"
OptimKit = "77e91f04-9b3b-57a6-a776-40b61faaebe0"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[compat]
Combinatorics = "1"
ITensorMPS = "0.2,0.3"
ITensors = "0.6,0.7,0.8,0.9"
LaTeXStrings = "1"
NPZ = "0.4"
OptimKit = "0.3, 0.4"
Plots = "1"
ProgressMeter = "1"
Reexport = "1"
StatsBase = "0.33, 0.34"
Zygote = "0.6, 0.7"
julia = "1.10,1.11"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
