name = "RandomMeas"
uuid = "a9f96d1f-ed6a-4404-822f-5927c777f274"
authors = ["Benoit Vermersch & Andreas Elben"]
version = "0.2.0"

[deps]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
ITensorMPS = "0d1a4710-d33b-49a5-8f18-73bdf49b47e2"
ITensors = "9136182c-28ba-11e9-034c-db9fb085ebd5"
IntervalArithmetic = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
NPZ = "15e1cf62-19b3-5cfa-8e77-841668bca605"
OptimKit = "77e91f04-9b3b-57a6-a776-40b61faaebe0"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PkgVersion = "eebad327-c553-4316-9ea0-9fa01ccd7688"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[compat]
BenchmarkTools = "1.6.0"
Combinatorics = "1"
Distributions = "0.25.120"
GLMakie = "0.13.2"
ITensorMPS = "0.2,0.3"
ITensors = "0.6,0.7,0.8,0.9"
IntervalArithmetic = "0.22.36"
MAT = "0.10.7"
NPZ = "0.4"
OptimKit = "0.3, 0.4"
Pkg = "1.11.0"
PkgVersion = "0.3.3"
Plots = "1"
ProgressMeter = "1"
Reexport = "1"
Revise = "3.7.2"
StatsBase = "0.33, 0.34"
Zygote = "0.6, 0.7"
julia = "1.10,1.11"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
